@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--p-1: 0.5rem;
	--p-2: 1rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}
